<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>imie</key>
		<string>Alicja</string>
		<key>nazwisko</key>
		<string>Rutkowska</string>
		<key>plec</key>
		<string>K</string>
		<key>uczelnia</key>
		<string>UNIKAT</string>
		<key>wiek</key>
		<integer>39</integer>
	</dict>
	<dict>
		<key>imie</key>
		<string>Wojciech</string>
		<key>nazwisko</key>
		<string>Sawicki</string>
		<key>plec</key>
		<string>M</string>
		<key>uczelnia</key>
		<string>UNIWPR</string>
		<key>wiek</key>
		<integer>48</integer>
	</dict>
	<dict>
		<key>imie</key>
		<string>Ewelina</string>
		<key>nazwisko</key>
		<string>Baranowska</string>
		<key>plec</key>
		<string>K</string>
		<key>uczelnia</key>
		<string>UNISWD</string>
		<key>wiek</key>
		<integer>36</integer>
	</dict>
	<dict>
		<key>imie</key>
		<string>Mariusz</string>
		<key>nazwisko</key>
		<string>Sowa</string>
		<key>plec</key>
		<string>M</string>
		<key>uczelnia</key>
		<string>AWFWRC</string>
		<key>wiek</key>
		<integer>46</integer>
	</dict>
	<dict>
		<key>imie</key>
		<string>Radosław</string>
		<key>nazwisko</key>
		<string>Czajkowski</string>
		<key>plec</key>
		<string>M</string>
		<key>uczelnia</key>
		<string>POLLOD</string>
		<key>wiek</key>
		<integer>40</integer>
	</dict>
	<dict>
		<key>imie</key>
		<string>Beata</string>
		<key>nazwisko</key>
		<string>Sadowska</string>
		<key>plec</key>
		<string>K</string>
		<key>uczelnia</key>
		<string>POLSLK</string>
		<key>wiek</key>
		<integer>39</integer>
	</dict>
	<dict>
		<key>imie</key>
		<string>Sylwia</string>
		<key>nazwisko</key>
		<string>Tomaszewska</string>
		<key>plec</key>
		<string>K</string>
		<key>uczelnia</key>
		<string>UNIGDA</string>
		<key>wiek</key>
		<integer>38</integer>
	</dict>
	<dict>
		<key>imie</key>
		<string>Robert</string>
		<key>nazwisko</key>
		<string>Michalski</string>
		<key>plec</key>
		<string>M</string>
		<key>uczelnia</key>
		<string>POLWAR</string>
		<key>wiek</key>
		<integer>46</integer>
	</dict>
	<dict>
		<key>imie</key>
		<string>Szymon</string>
		<key>nazwisko</key>
		<string>Ostrowski</string>
		<key>plec</key>
		<string>M</string>
		<key>uczelnia</key>
		<string>UNIGDA</string>
		<key>wiek</key>
		<integer>45</integer>
	</dict>
	<dict>
		<key>imie</key>
		<string>Małgorzata</string>
		<key>nazwisko</key>
		<string>Jabłońska</string>
		<key>plec</key>
		<string>K</string>
		<key>uczelnia</key>
		<string>POLPOZ</string>
		<key>wiek</key>
		<integer>43</integer>
	</dict>
	<dict>
		<key>imie</key>
		<string>Marzena</string>
		<key>nazwisko</key>
		<string>Chmielewska</string>
		<key>plec</key>
		<string>K</string>
		<key>uczelnia</key>
		<string>UMPOZN</string>
		<key>wiek</key>
		<integer>45</integer>
	</dict>
	<dict>
		<key>imie</key>
		<string>Michał</string>
		<key>nazwisko</key>
		<string>Dąbrowski</string>
		<key>plec</key>
		<string>M</string>
		<key>uczelnia</key>
		<string>AKAGUH</string>
		<key>wiek</key>
		<integer>36</integer>
	</dict>
	<dict>
		<key>imie</key>
		<string>Ewa</string>
		<key>nazwisko</key>
		<string>Kaczmarek</string>
		<key>plec</key>
		<string>K</string>
		<key>uczelnia</key>
		<string>POLWRO</string>
		<key>wiek</key>
		<integer>39</integer>
	</dict>
	<dict>
		<key>imie</key>
		<string>Andrzej</string>
		<key>nazwisko</key>
		<string>Cieślak</string>
		<key>plec</key>
		<string>M</string>
		<key>uczelnia</key>
		<string>UMGDAN</string>
		<key>wiek</key>
		<integer>57</integer>
	</dict>
	<dict>
		<key>imie</key>
		<string>Justyna</string>
		<key>nazwisko</key>
		<string>Sikora</string>
		<key>plec</key>
		<string>K</string>
		<key>uczelnia</key>
		<string>SGHMWZ</string>
		<key>wiek</key>
		<integer>37</integer>
	</dict>
	<dict>
		<key>imie</key>
		<string>Aneta</string>
		<key>nazwisko</key>
		<string>Malinowska</string>
		<key>plec</key>
		<string>K</string>
		<key>uczelnia</key>
		<string>UNIMED</string>
		<key>wiek</key>
		<integer>41</integer>
	</dict>
	<dict>
		<key>imie</key>
		<string>Kamila</string>
		<key>nazwisko</key>
		<string>Gajewska</string>
		<key>plec</key>
		<string>K</string>
		<key>uczelnia</key>
		<string>UNIWPR</string>
		<key>wiek</key>
		<integer>37</integer>
	</dict>
	<dict>
		<key>imie</key>
		<string>Adam</string>
		<key>nazwisko</key>
		<string>Majewski</string>
		<key>plec</key>
		<string>M</string>
		<key>uczelnia</key>
		<string>UNIPOZ</string>
		<key>wiek</key>
		<integer>55</integer>
	</dict>
	<dict>
		<key>imie</key>
		<string>Tytus</string>
		<key>nazwisko</key>
		<string>Bomba</string>
		<key>plec</key>
		<string>M</string>
		<key>uczelnia</key>
		<string>AKAGUH</string>
		<key>wiek</key>
		<integer>51</integer>
	</dict>
	<dict>
		<key>imie</key>
		<string>Jan</string>
		<key>nazwisko</key>
		<string>Grabowski</string>
		<key>plec</key>
		<string>M</string>
		<key>uczelnia</key>
		<string>POLWRO</string>
		<key>wiek</key>
		<integer>60</integer>
	</dict>
	<dict>
		<key>imie</key>
		<string>Tadeusz</string>
		<key>nazwisko</key>
		<string>Laskowski</string>
		<key>plec</key>
		<string>M</string>
		<key>uczelnia</key>
		<string>UNISBC</string>
		<key>wiek</key>
		<integer>63</integer>
	</dict>
	<dict>
		<key>imie</key>
		<string>Dominika</string>
		<key>nazwisko</key>
		<string>Olszewska</string>
		<key>plec</key>
		<string>K</string>
		<key>uczelnia</key>
		<string>UMRTOR</string>
		<key>wiek</key>
		<integer>37</integer>
	</dict>
	<dict>
		<key>imie</key>
		<string>Paweł</string>
		<key>nazwisko</key>
		<string>Górski</string>
		<key>plec</key>
		<string>M</string>
		<key>uczelnia</key>
		<string>UNIKAT</string>
		<key>wiek</key>
		<integer>41</integer>
	</dict>
	<dict>
		<key>imie</key>
		<string>Klaudia</string>
		<key>nazwisko</key>
		<string>Szczepańska</string>
		<key>plec</key>
		<string>K</string>
		<key>uczelnia</key>
		<string>UMKLUB</string>
		<key>wiek</key>
		<integer>35</integer>
	</dict>
	<dict>
		<key>imie</key>
		<string>Dariusz</string>
		<key>nazwisko</key>
		<string>Czerwiński</string>
		<key>plec</key>
		<string>M</string>
		<key>uczelnia</key>
		<string>AWFPOZ</string>
		<key>wiek</key>
		<integer>47</integer>
	</dict>
	<dict>
		<key>imie</key>
		<string>Martyna</string>
		<key>nazwisko</key>
		<string>Czapla</string>
		<key>plec</key>
		<string>K</string>
		<key>uczelnia</key>
		<string>UAMSIE</string>
		<key>wiek</key>
		<integer>32</integer>
	</dict>
	<dict>
		<key>imie</key>
		<string>Karolina</string>
		<key>nazwisko</key>
		<string>Król</string>
		<key>plec</key>
		<string>K</string>
		<key>uczelnia</key>
		<string>UNIPOZ</string>
		<key>wiek</key>
		<integer>34</integer>
	</dict>
	<dict>
		<key>imie</key>
		<string>Paulina</string>
		<key>nazwisko</key>
		<string>Głowacka</string>
		<key>plec</key>
		<string>K</string>
		<key>uczelnia</key>
		<string>UNIOPL</string>
		<key>wiek</key>
		<integer>38</integer>
	</dict>
	<dict>
		<key>imie</key>
		<string>Franciszek</string>
		<key>nazwisko</key>
		<string>Nawrocki</string>
		<key>plec</key>
		<string>M</string>
		<key>uczelnia</key>
		<string>UMPOZN</string>
		<key>wiek</key>
		<integer>60</integer>
	</dict>
	<dict>
		<key>imie</key>
		<string>Przemysław</string>
		<key>nazwisko</key>
		<string>Kołodziej</string>
		<key>plec</key>
		<string>M</string>
		<key>uczelnia</key>
		<string>POLSLK</string>
		<key>wiek</key>
		<integer>37</integer>
	</dict>
	<dict>
		<key>imie</key>
		<string>Olga</string>
		<key>nazwisko</key>
		<string>Przybylska</string>
		<key>plec</key>
		<string>K</string>
		<key>uczelnia</key>
		<string>UMKRAK</string>
		<key>wiek</key>
		<integer>36</integer>
	</dict>
	<dict>
		<key>imie</key>
		<string>Henryk</string>
		<key>nazwisko</key>
		<string>Andrzejewski</string>
		<key>plec</key>
		<string>M</string>
		<key>uczelnia</key>
		<string>AWFWAR</string>
		<key>wiek</key>
		<integer>61</integer>
	</dict>
	<dict>
		<key>imie</key>
		<string>Alina</string>
		<key>nazwisko</key>
		<string>Kowalewska</string>
		<key>plec</key>
		<string>K</string>
		<key>uczelnia</key>
		<string>AWFGDA</string>
		<key>wiek</key>
		<integer>41</integer>
	</dict>
	<dict>
		<key>imie</key>
		<string>Jolanta</string>
		<key>nazwisko</key>
		<string>Stasiak</string>
		<key>plec</key>
		<string>K</string>
		<key>uczelnia</key>
		<string>AWFWRC</string>
		<key>wiek</key>
		<integer>45</integer>
	</dict>
	<dict>
		<key>imie</key>
		<string>Mateusz</string>
		<key>nazwisko</key>
		<string>Walczak</string>
		<key>plec</key>
		<string>M</string>
		<key>uczelnia</key>
		<string>UNILOD</string>
		<key>wiek</key>
		<integer>36</integer>
	</dict>
	<dict>
		<key>imie</key>
		<string>Natalia</string>
		<key>nazwisko</key>
		<string>Adamczyk</string>
		<key>plec</key>
		<string>K</string>
		<key>uczelnia</key>
		<string>UNIWRO</string>
		<key>wiek</key>
		<integer>32</integer>
	</dict>
	<dict>
		<key>imie</key>
		<string>Joanna</string>
		<key>nazwisko</key>
		<string>Zalewska</string>
		<key>plec</key>
		<string>K</string>
		<key>uczelnia</key>
		<string>POLWAR</string>
		<key>wiek</key>
		<integer>35</integer>
	</dict>
	<dict>
		<key>imie</key>
		<string>Ignacy</string>
		<key>nazwisko</key>
		<string>Sikorski</string>
		<key>plec</key>
		<string>M</string>
		<key>uczelnia</key>
		<string>UMWROC</string>
		<key>wiek</key>
		<integer>55</integer>
	</dict>
	<dict>
		<key>imie</key>
		<string>Tomasz</string>
		<key>nazwisko</key>
		<string>Jankowski</string>
		<key>plec</key>
		<string>M</string>
		<key>uczelnia</key>
		<string>UNIWAR</string>
		<key>wiek</key>
		<integer>47</integer>
	</dict>
	<dict>
		<key>imie</key>
		<string>Artur</string>
		<key>nazwisko</key>
		<string>Stępień</string>
		<key>plec</key>
		<string>M</string>
		<key>uczelnia</key>
		<string>UNIMED</string>
		<key>wiek</key>
		<integer>48</integer>
	</dict>
	<dict>
		<key>imie</key>
		<string>Iwona</string>
		<key>nazwisko</key>
		<string>Urbańska</string>
		<key>plec</key>
		<string>K</string>
		<key>uczelnia</key>
		<string>UNIWRO</string>
		<key>wiek</key>
		<integer>44</integer>
	</dict>
	<dict>
		<key>imie</key>
		<string>Jakub</string>
		<key>nazwisko</key>
		<string>Kamiński</string>
		<key>plec</key>
		<string>M</string>
		<key>uczelnia</key>
		<string>UNIJAG</string>
		<key>wiek</key>
		<integer>37</integer>
	</dict>
	<dict>
		<key>imie</key>
		<string>Krystian</string>
		<key>nazwisko</key>
		<string>Włodarczyk</string>
		<key>plec</key>
		<string>M</string>
		<key>uczelnia</key>
		<string>UMKLUB</string>
		<key>wiek</key>
		<integer>38</integer>
	</dict>
	<dict>
		<key>imie</key>
		<string>Jacek</string>
		<key>nazwisko</key>
		<string>Adamski</string>
		<key>plec</key>
		<string>M</string>
		<key>uczelnia</key>
		<string>UNIOPL</string>
		<key>wiek</key>
		<integer>53</integer>
	</dict>
	<dict>
		<key>imie</key>
		<string>Elżbieta</string>
		<key>nazwisko</key>
		<string>Krawczyk</string>
		<key>plec</key>
		<string>K</string>
		<key>uczelnia</key>
		<string>POLLOD</string>
		<key>wiek</key>
		<integer>52</integer>
	</dict>
	<dict>
		<key>imie</key>
		<string>Dawid</string>
		<key>nazwisko</key>
		<string>Piotrowski</string>
		<key>plec</key>
		<string>M</string>
		<key>uczelnia</key>
		<string>KULKAT</string>
		<key>wiek</key>
		<integer>41</integer>
	</dict>
	<dict>
		<key>imie</key>
		<string>Jerzy</string>
		<key>nazwisko</key>
		<string>Mazur</string>
		<key>plec</key>
		<string>M</string>
		<key>uczelnia</key>
		<string>UMKLUB</string>
		<key>wiek</key>
		<integer>57</integer>
	</dict>
	<dict>
		<key>imie</key>
		<string>Barbara</string>
		<key>nazwisko</key>
		<string>Pawlak</string>
		<key>plec</key>
		<string>K</string>
		<key>uczelnia</key>
		<string>POLWAR</string>
		<key>wiek</key>
		<integer>58</integer>
	</dict>
	<dict>
		<key>imie</key>
		<string>Urszula</string>
		<key>nazwisko</key>
		<string>Zakrzewska</string>
		<key>plec</key>
		<string>K</string>
		<key>uczelnia</key>
		<string>UMGDAN</string>
		<key>wiek</key>
		<integer>52</integer>
	</dict>
	<dict>
		<key>imie</key>
		<string>Damian</string>
		<key>nazwisko</key>
		<string>Zalewski</string>
		<key>plec</key>
		<string>M</string>
		<key>uczelnia</key>
		<string>UNIGDA</string>
		<key>wiek</key>
		<integer>42</integer>
	</dict>
	<dict>
		<key>imie</key>
		<string>Marcin</string>
		<key>nazwisko</key>
		<string>Wójcik</string>
		<key>plec</key>
		<string>M</string>
		<key>uczelnia</key>
		<string>UNIPOZ</string>
		<key>wiek</key>
		<integer>38</integer>
	</dict>
	<dict>
		<key>imie</key>
		<string>Rafał</string>
		<key>nazwisko</key>
		<string>Bomba</string>
		<key>plec</key>
		<string>M</string>
		<key>uczelnia</key>
		<string>UNIJAG</string>
		<key>wiek</key>
		<integer>31</integer>
	</dict>
	<dict>
		<key>imie</key>
		<string>Kinga</string>
		<key>nazwisko</key>
		<string>Kołodziejczyk</string>
		<key>plec</key>
		<string>K</string>
		<key>uczelnia</key>
		<string>KULKAT</string>
		<key>wiek</key>
		<integer>36</integer>
	</dict>
	<dict>
		<key>imie</key>
		<string>Wioletta</string>
		<key>nazwisko</key>
		<string>Krajewska</string>
		<key>plec</key>
		<string>K</string>
		<key>uczelnia</key>
		<string>AWFPOZ</string>
		<key>wiek</key>
		<integer>44</integer>
	</dict>
	<dict>
		<key>imie</key>
		<string>Milena</string>
		<key>nazwisko</key>
		<string>Janik</string>
		<key>plec</key>
		<string>K</string>
		<key>uczelnia</key>
		<string>UNISBC</string>
		<key>wiek</key>
		<integer>36</integer>
	</dict>
	<dict>
		<key>imie</key>
		<string>Lidia</string>
		<key>nazwisko</key>
		<string>Wysocka</string>
		<key>plec</key>
		<string>K</string>
		<key>uczelnia</key>
		<string>KULKAT</string>
		<key>wiek</key>
		<integer>46</integer>
	</dict>
	<dict>
		<key>imie</key>
		<string>Monika</string>
		<key>nazwisko</key>
		<string>Wojciechowska</string>
		<key>plec</key>
		<string>K</string>
		<key>uczelnia</key>
		<string>UNIWAR</string>
		<key>wiek</key>
		<integer>41</integer>
	</dict>
	<dict>
		<key>imie</key>
		<string>Sandra</string>
		<key>nazwisko</key>
		<string>Dudek</string>
		<key>plec</key>
		<string>K</string>
		<key>uczelnia</key>
		<string>UNIBYA</string>
		<key>wiek</key>
		<integer>33</integer>
	</dict>
	<dict>
		<key>imie</key>
		<string>Maciej</string>
		<key>nazwisko</key>
		<string>Kubiak</string>
		<key>plec</key>
		<string>M</string>
		<key>uczelnia</key>
		<string>UNIBYA</string>
		<key>wiek</key>
		<integer>44</integer>
	</dict>
	<dict>
		<key>imie</key>
		<string>Edyta</string>
		<key>nazwisko</key>
		<string>Szulc</string>
		<key>plec</key>
		<string>K</string>
		<key>uczelnia</key>
		<string>AWFWAR</string>
		<key>wiek</key>
		<integer>42</integer>
	</dict>
	<dict>
		<key>imie</key>
		<string>Filip</string>
		<key>nazwisko</key>
		<string>Kowal</string>
		<key>plec</key>
		<string>M</string>
		<key>uczelnia</key>
		<string>UNISWD</string>
		<key>wiek</key>
		<integer>34</integer>
	</dict>
	<dict>
		<key>imie</key>
		<string>Andrzej</string>
		<key>nazwisko</key>
		<string>Maj</string>
		<key>plec</key>
		<string>M</string>
		<key>uczelnia</key>
		<string>UNIJAG</string>
		<key>wiek</key>
		<integer>62</integer>
	</dict>
	<dict>
		<key>imie</key>
		<string>Katarzyna</string>
		<key>nazwisko</key>
		<string>Nowak</string>
		<key>plec</key>
		<string>K</string>
		<key>uczelnia</key>
		<string>UNIJAG</string>
		<key>wiek</key>
		<integer>38</integer>
	</dict>
	<dict>
		<key>imie</key>
		<string>Krzysztof</string>
		<key>nazwisko</key>
		<string>Zając</string>
		<key>plec</key>
		<string>M</string>
		<key>uczelnia</key>
		<string>POLPOZ</string>
		<key>wiek</key>
		<integer>49</integer>
	</dict>
	<dict>
		<key>imie</key>
		<string>Hubert</string>
		<key>nazwisko</key>
		<string>Brzeziński</string>
		<key>plec</key>
		<string>M</string>
		<key>uczelnia</key>
		<string>AWFGDA</string>
		<key>wiek</key>
		<integer>38</integer>
	</dict>
	<dict>
		<key>imie</key>
		<string>Bartosz</string>
		<key>nazwisko</key>
		<string>Marciniak</string>
		<key>plec</key>
		<string>M</string>
		<key>uczelnia</key>
		<string>UNIEKO</string>
		<key>wiek</key>
		<integer>43</integer>
	</dict>
	<dict>
		<key>imie</key>
		<string>Dorota</string>
		<key>nazwisko</key>
		<string>Czarnecka</string>
		<key>plec</key>
		<string>K</string>
		<key>uczelnia</key>
		<string>UNILOD</string>
		<key>wiek</key>
		<integer>47</integer>
	</dict>
	<dict>
		<key>imie</key>
		<string>Aleksandra</string>
		<key>nazwisko</key>
		<string>Kozłowska</string>
		<key>plec</key>
		<string>K</string>
		<key>uczelnia</key>
		<string>UNIWAR</string>
		<key>wiek</key>
		<integer>33</integer>
	</dict>
	<dict>
		<key>imie</key>
		<string>Dominik</string>
		<key>nazwisko</key>
		<string>Witkowski</string>
		<key>plec</key>
		<string>M</string>
		<key>uczelnia</key>
		<string>UNIEKO</string>
		<key>wiek</key>
		<integer>39</integer>
	</dict>
	<dict>
		<key>imie</key>
		<string>Mirosław</string>
		<key>nazwisko</key>
		<string>Urbański</string>
		<key>plec</key>
		<string>M</string>
		<key>uczelnia</key>
		<string>UMRTOR</string>
		<key>wiek</key>
		<integer>59</integer>
	</dict>
	<dict>
		<key>imie</key>
		<string>Grzegorz</string>
		<key>nazwisko</key>
		<string>Kwiatkowski</string>
		<key>plec</key>
		<string>M</string>
		<key>uczelnia</key>
		<string>POLWRO</string>
		<key>wiek</key>
		<integer>53</integer>
	</dict>
	<dict>
		<key>imie</key>
		<string>Arkadiusz</string>
		<key>nazwisko</key>
		<string>Domański</string>
		<key>plec</key>
		<string>M</string>
		<key>uczelnia</key>
		<string>UMKRAK</string>
		<key>wiek</key>
		<integer>44</integer>
	</dict>
	<dict>
		<key>imie</key>
		<string>Marta</string>
		<key>nazwisko</key>
		<string>Pietrzak</string>
		<key>plec</key>
		<string>K</string>
		<key>uczelnia</key>
		<string>SGHMWZ</string>
		<key>wiek</key>
		<integer>40</integer>
	</dict>
	<dict>
		<key>imie</key>
		<string>Sebastian</string>
		<key>nazwisko</key>
		<string>Lis</string>
		<key>plec</key>
		<string>M</string>
		<key>uczelnia</key>
		<string>AWFKRK</string>
		<key>wiek</key>
		<integer>39</integer>
	</dict>
	<dict>
		<key>imie</key>
		<string>Grażyna</string>
		<key>nazwisko</key>
		<string>Sobczak</string>
		<key>plec</key>
		<string>K</string>
		<key>uczelnia</key>
		<string>UMWROC</string>
		<key>wiek</key>
		<integer>50</integer>
	</dict>
	<dict>
		<key>imie</key>
		<string>Zbigniew</string>
		<key>nazwisko</key>
		<string>Kucharski</string>
		<key>plec</key>
		<string>M</string>
		<key>uczelnia</key>
		<string>UNILOD</string>
		<key>wiek</key>
		<integer>61</integer>
	</dict>
	<dict>
		<key>imie</key>
		<string>Agnieszka</string>
		<key>nazwisko</key>
		<string>Szymańska</string>
		<key>plec</key>
		<string>K</string>
		<key>uczelnia</key>
		<string>AKAGUH</string>
		<key>wiek</key>
		<integer>44</integer>
	</dict>
	<dict>
		<key>imie</key>
		<string>Izabela</string>
		<key>nazwisko</key>
		<string>Maciejewska</string>
		<key>plec</key>
		<string>K</string>
		<key>uczelnia</key>
		<string>UNICZE</string>
		<key>wiek</key>
		<integer>39</integer>
	</dict>
	<dict>
		<key>imie</key>
		<string>Rafał</string>
		<key>nazwisko</key>
		<string>Wasilewski</string>
		<key>plec</key>
		<string>M</string>
		<key>uczelnia</key>
		<string>UNICZE</string>
		<key>wiek</key>
		<integer>40</integer>
	</dict>
	<dict>
		<key>imie</key>
		<string>Angelika</string>
		<key>nazwisko</key>
		<string>Sosnowska</string>
		<key>plec</key>
		<string>K</string>
		<key>uczelnia</key>
		<string>AWFKRK</string>
		<key>wiek</key>
		<integer>35</integer>
	</dict>
	<dict>
		<key>imie</key>
		<string>Magdalena</string>
		<key>nazwisko</key>
		<string>Lewandowska</string>
		<key>plec</key>
		<string>K</string>
		<key>uczelnia</key>
		<string>UNIJAG</string>
		<key>wiek</key>
		<integer>39</integer>
	</dict>
	<dict>
		<key>imie</key>
		<string>Patrycja</string>
		<key>nazwisko</key>
		<string>Wróblewska</string>
		<key>plec</key>
		<string>K</string>
		<key>uczelnia</key>
		<string>UNIEKO</string>
		<key>wiek</key>
		<integer>36</integer>
	</dict>
	<dict>
		<key>imie</key>
		<string>Agata</string>
		<key>nazwisko</key>
		<string>Baran</string>
		<key>plec</key>
		<string>K</string>
		<key>uczelnia</key>
		<string>UNIKAT</string>
		<key>wiek</key>
		<integer>33</integer>
	</dict>
	<dict>
		<key>imie</key>
		<string>Helena</string>
		<key>nazwisko</key>
		<string>Kowalczyk</string>
		<key>plec</key>
		<string>K</string>
		<key>uczelnia</key>
		<string>UMLODZ</string>
		<key>wiek</key>
		<integer>49</integer>
	</dict>
	<dict>
		<key>imie</key>
		<string>Konrad</string>
		<key>nazwisko</key>
		<string>Błaszczyk</string>
		<key>plec</key>
		<string>M</string>
		<key>uczelnia</key>
		<string>POLSLK</string>
		<key>wiek</key>
		<integer>44</integer>
	</dict>
	<dict>
		<key>imie</key>
		<string>Anna</string>
		<key>nazwisko</key>
		<string>Wiśniewska</string>
		<key>plec</key>
		<string>K</string>
		<key>uczelnia</key>
		<string>UNIJAG</string>
		<key>wiek</key>
		<integer>42</integer>
	</dict>
	<dict>
		<key>imie</key>
		<string>Piotr</string>
		<key>nazwisko</key>
		<string>Kowalski</string>
		<key>plec</key>
		<string>M</string>
		<key>uczelnia</key>
		<string>UNIJAG</string>
		<key>wiek</key>
		<integer>45</integer>
	</dict>
	<dict>
		<key>imie</key>
		<string>Kamil</string>
		<key>nazwisko</key>
		<string>Szewczyk</string>
		<key>plec</key>
		<string>M</string>
		<key>uczelnia</key>
		<string>SGHMWZ</string>
		<key>wiek</key>
		<integer>35</integer>
	</dict>
	<dict>
		<key>imie</key>
		<string>Łukasz</string>
		<key>nazwisko</key>
		<string>Sokołowski</string>
		<key>plec</key>
		<string>M</string>
		<key>uczelnia</key>
		<string>UNIWRO</string>
		<key>wiek</key>
		<integer>37</integer>
	</dict>
	<dict>
		<key>imie</key>
		<string>Weronika</string>
		<key>nazwisko</key>
		<string>Jaworska</string>
		<key>plec</key>
		<string>K</string>
		<key>uczelnia</key>
		<string>UNIMED</string>
		<key>wiek</key>
		<integer>34</integer>
	</dict>
	<dict>
		<key>imie</key>
		<string>Roman</string>
		<key>nazwisko</key>
		<string>Mucha</string>
		<key>plec</key>
		<string>M</string>
		<key>uczelnia</key>
		<string>UMLODZ</string>
		<key>wiek</key>
		<integer>54</integer>
	</dict>
	<dict>
		<key>imie</key>
		<string>Adrian</string>
		<key>nazwisko</key>
		<string>Kalinowski</string>
		<key>plec</key>
		<string>M</string>
		<key>uczelnia</key>
		<string>UAMSIE</string>
		<key>wiek</key>
		<integer>35</integer>
	</dict>
	<dict>
		<key>imie</key>
		<string>Renata</string>
		<key>nazwisko</key>
		<string>Borkowska</string>
		<key>plec</key>
		<string>K</string>
		<key>uczelnia</key>
		<string>POLLOD</string>
		<key>wiek</key>
		<integer>42</integer>
	</dict>
</array>
</plist>
